@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  .tag {
    @apply w-full flex items-center justify-center py-2 rounded-md border cursor-pointer text-sm;
  }

  .input {
    @apply w-full outline-none border border-gray/50 rounded-md px-3 py-2 text-dark/80 focus:border-brand;
  }
}

.border-dashed-with-spacing {
  height: 3px;
  background-image: linear-gradient(
    to right,
    #e3e3e3 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: top;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

/* Override mantine styles */
.mantine-Checkbox-label {
  color: #073b4c !important;
  font-weight: 400 !important;
}

.mantine-Divider-label {
  color: #817d7d !important;
  font-weight: 500 !important;
}

.mantine-Modal-title {
  color: #073b4c !important;
}

/* Drawer */
.mantine-1q36a81 {
  padding: 0rem !important;
}
/* Modal */
.mantine-Paper-root {
  border-radius: 14px !important;
}
.mantine-9d0559 {
  border-radius: 1px !important;
}

/* Override global scrolbar styles */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Label */
.mantine-1fzet7j {
  color: #073b4c !important;
}
.form .mantine-1fzet7j {
  color: #979797 !important;
  font-weight: 500 !important;
  margin-bottom: 3px !important;
}
.form .mantine-Input-input {
  border-radius: 14px !important;
  height: 3rem !important;
  font-size: 16px !important;
  color: #073b4c !important;
  background-color: #f5f5f5 !important;
  border: 1px solid #ececec !important;
}
.form .mantine-PasswordInput-innerInput {
  height: 100% !important;
}

.mantine-Radio-label {
  color: #073b4c !important;
}

/* Input multi select */
.mantine-1n7zxp {
  padding-top: 0.6rem !important;
  padding-bottom: 0.6rem !important;
}

/* Input select */
.mantine-kcpopt {
  height: 2.8rem !important;
}

.mantine-kcpopt:focus,
.mantine-kcpopt:focus-within {
  border-color: #46a094;
}

/* Input date */
.mantine-gszoqu:focus,
.mantine-gszoqu:focus-within {
  border-color: #46a094;
}

.mantine-DateInput-input {
  border-radius: 12px !important;
  padding: 21px !important;
  color: #073b4c;
  font-weight: 500;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 20px;
}

/* Override ant design styles */
