@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.border-dashed-with-spacing {
  height: 3px;
  background-image: linear-gradient(
    to right,
    #e3e3e3 50%,
    rgba(255, 255, 255, 0) 50%
  );
  background-position: top;
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

/* Override mantine styles */
.mantine-Checkbox-label {
  color: #073b4c !important;
  font-weight: 400 !important;
}

.mantine-Divider-label {
  color: #817d7d !important;
  font-weight: 500 !important;
}

.mantine-Modal-title {
  color: #073b4c !important;
}

/* Override global scrolbar styles */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dfdfdf;
  border-radius: 20px;
}
