@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* Override mantine styles */
.mantine-Checkbox-label {
  color: #073b4c !important;
  font-weight: 400 !important;
}

.mantine-Divider-label {
  color: #817d7d !important;
  font-weight: 500 !important;
}
